body {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
}

.lineChart {
    display: flex;
    flex-direction: row;
}

.primaryLineChartContainer .secondaryLineChartContainer {
    display: flex;
    flex-direction: column;
}

.removeButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#primaryLineChart #secondaryLineChart {
    display: flex;
    flex-direction: column;
}

.filter {
    display: flex;
    flex-direction: row;
}

.filterSecondary {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.filterPrimary {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.filterCountry {
    display: flex;
    flex-direction: row;
}

.filterCountryLeft {
    display: flex;
    flex-direction: column;
}

.filterCountryRight {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.filterYear {
    display: flex;
    flex-direction: row;
}

.filterYearLeft {
    display: flex;
    flex-direction: column;
}

.filterYearRight {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
